//---------- mobile first background--------//
.title2{background-color: black;
}
.title {
font-size:10px;
font-style: italic;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url(../images/backg.jpg);
    // background-image: url(../images/logo_transp.png);
    max-width: 1600px;
    background-size: cover;
    // background-position: center;
    // height: 400px;
    // margin: 0 auto;
    color: gold;
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;

// @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//         background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Bcard.jpg);
//     }



}

// @media screen and (min-width:$tablet) {
//     .title {
//         background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Bcard.jpg);
//         max-width: $desktop;
//         height: 400px;

// @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//         background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Bcard.jpg);
//     }
// }}

// @media screen and (min-width:$desktop) {
//     .title {
//         background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//             url(../images/Bcard.jpg);
//         max-width: 1600px;
//         height: 600px;
// @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//         background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Bcard.jpg);
//     }

//     }
// }

// @media screen and (min-width:$desktop),
// (min-resolution:192dpi),
// (min-resolution: 2dppx) {
//     .title{background-image:linear-gradient(90deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
//             url(../images/Bcard.jpg);
//             max-width: 1600px;
//             height: 600px;
//             }
// }
    


.title__main {
    text-align: center;
    width: 384px;
    letter-spacing: 0.06em;
    // text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    margin-top: 200px;
    line-height: 1.38;

}

@media screen and (min-width:$tablet) {
    .title__main {

        text-align: center;
        width: 400px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 900;
        margin: 0;
        margin-top: 200px;
        line-height: 1.38;
    }
}

@media screen and (min-width:$desktop) {
    .title__main {
        
        text-align: center;
        width: 696px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-size: 44px;
        font-weight: 900;
        margin: 0;
        margin-top: 200px;
        line-height: 1.363;
    }
}
