// .portfolio__nav-list--button {
//     background-color: $btngray;
//     border-radius: 4px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.62;
//     font-family: inherit;
//     color: $black;
//     box-shadow: 0px 0px 4px rgba(6, 5, 5, 0.15);
//     border: none;
//     cursor: pointer;
//     padding: 4px 18px;
//     letter-spacing: 0.03em;
//     text-align: center;

//     &:hover,
//     &:focus{background-color: gold;
//         color: grey;
//         box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
//         transition-duration: 250ms;
//         transition-timing-function: $cubic;}
// }

