//mobile first//


.footerSubmit {
    margin-left: 40px;
    text-align: center;
    // padding-bottom: 30px;
}

.footerSubmit__text {
padding: 10px;
    margin-bottom: 34px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 00.03em;


}

.footerSubmit__input {
    background-color: $black;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    padding: 13px 12px;
    border-color:rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition-duration: 250ms;
    transition: $cubic;
    color: $white;

    &:hover,
    &:focus {
        border-color: $blue;
        outline: none;
        
    }
}


.footerSubmit__btn {


    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border: none;
    margin: 0;
    padding: 8px 20px;
    border-radius: 4px;
    background-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: $white;
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    min-height: 43px;
    margin-left: 12px;


    &::after {
        display: inline-block;
        width: 24px;
        height: 20px;
        margin-left: 10px;
    }

}


@media screen and (min-width: $tablet) {


    .footerSubmit {

        margin-left: 190px;
        text-align: center;
        padding-bottom: 30px;
    }

    .footerSubmit__text {
        // padding: 20px 0px 10px 0px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        text-transform: uppercase;
        color: $white;


    }

    .footerSubmit__input {
        background-color: $black;
        width: 450px;
        width: 450px;
        border-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        transition-duration: 250ms;
        transition: $cubic;

        &:hover,
        &:focus {
            border-color: $blue;
            outline: none;
        }
    }


    .footerSubmit__btn {
        display: flex;

        justify-content: center;
        width: 200px;
        height: 50px;
        border: none;
        padding: 8px 20px;
        border-radius: 4px;
        background-color: $blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: $white;
        // font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        cursor: pointer;
        min-height: 43px;
        margin-left: 128px;



        &::after {
            display: inline-block;
            width: 24px;
            height: 20px;
            margin-left: 10px;
        }

    }
}


@media screen and (min-width: $desktop) {


    .footerSubmit {

        margin-left: 93px;
        // text-align: center;
        // padding-bottom: 30px;
    }

    .footerSubmit__text {
        padding: 0px 0px 10px 0px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        text-transform: uppercase;
        color: $white;


    }

    .footerSubmit__input {
        background-color: $black;
        width: 308px;
        margin: 0;
        padding: 13px 12px;
        border-color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        transition-duration: 250ms;
        transition: $cubic;

        &:hover,
        &:focus {
            border-color: $blue;
            outline: none;
        }
    }


    .footerSubmit__btn {


        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        border: none;
        margin: 0;
        padding: 8px 20px;
        border-radius: 4px;
        background-color: $blue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: $white;
        // font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        cursor: pointer;
        min-height: 43px;
        margin-left: 12px;


        &::after {
            display: inline-block;
            width: 24px;
            height: 20px;
            margin-left: 10px;
        }

    }
}