.overlay__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $colorhb;
    vertical-align: top;
    position: absolute;
    padding: 25px 45px 20px 24px;
    transform: translateY(0%);
   
}