.form {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

}

.form__title {
    margin-left: 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.form__top-title {
    margin-top: 12px;
}

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__label,
.form__comment-label {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: $gray;

}

.form__input {

    width: 100%;
    margin: 0;
    padding: 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-duration: 250ms;
    transition: $cubic;
   

    &:hover,
    &:focus{border-color: $blue;
        outline: none;}

        
}


.input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(0%);
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: fill 250ms $cubic;
   
}

.form__input:hover~.input-icon,
.form__input:focus~.input-icon {
    fill: $blue;
}

textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    height: 120px;
    transition-duration: 250ms;
    transition: $cubic;

    &:hover,
    &:focus{outline: none;
        border-color: $blue;}

}

.comment::placeholder {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.policyCheck {
    font-size: 14px;
    padding-left: 14px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.policyCheck__icon {
    display: inline-block;
    width: 19px;
    height: 17px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}

.policyCheck__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

.policyCheck__checkbox:checked+.policyCheck__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-color: $blue;
    border-color: $blue;
    fill: white;
    cursor: pointer;
}

.policyCheck__link {
    margin-left: 4px;
    font-size: 14px;
    color: rgba(33, 150, 243, 1);
}

.policyCheck__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    // font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    background-color: $blue;
    color: $white;
    box-shadow: 0px 4px 4px;
    transition-duration: 250ms;
    transition-timing-function: $cubic;

    &:hover,
    &:focus{background-color: $formcolor;}
}


