.mob-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    top: 0;
    right: 0;
    padding: 15px 10px 48px 40px;
    z-index: 999;

    &__link-social {
        font-weight: 500;
        font-size: 18px;
        line-height: calc(22 / 18);
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $blue;

    }
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: $black;
    border: none;
    margin-left: auto;
    cursor: pointer;
    
    &:hover,
    &:focus {
        fill: $blue;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

// .menu-burger{align-items: center;}
.menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: $black;
    border: none;
    margin-left: auto;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $blue;
    }
}

.mob-menu-list__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu-list__link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $black;

    &:focus,
    &:hover {
        color: $blue;
    }

    &--current {
        color: $blue;
    }
}

.mob-menu-list__tel {
    display: block;
    margin-top: 94px;
    margin-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color: $blue;
    }
}

.mob-menu-list__mail {
    display: block;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $gray;
    margin-bottom: 64px;

    &:hover,
    &:focus {
        color: $blue;
    }
}

.mob-menu-list__social {
    display: flex;
    flex-direction: row;

    column-gap: 20px;
}

.mob-menu-list__social-item {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $blue;

    &:not(:first-child)::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -10px;
        width: 1px;
        height: 22px;
        background-color: rgba(33, 33, 33, 0.2);
    }
}

.mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


@media screen and (max-width: $tablet) {

    .contact__list {
        display: none;
    }
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}