

$white:#fff;
$blue:#2196f3;
$black:#212121;
$gray:#757575;
$btngray:#f5f4fa;
$lightgray:#e5e5e5;
$lineheadercolor:#ececec;
$shadowcolor:#eee;
$iconscolor:#afb1b8;
$formcolor:#188ce8;
$color1:#2196f3;
$color2:#afb1b8;
$color3:#212121;
$color4:#afb1b8;
$color5:#afb1b8;
$cubic:cubic-bezier(0.4, 0, 0.2, 1);
$goldaccent:rgb(216,177,100);
$colorhb:rgb(216,177,100);
$xs:578px;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;