
.screen-portfolio {
    width: 370px;
    height: 356px;
    
}


.portfolio__nav-list--buttons {
    display: flex;
    cursor: pointer;
    // margin-top: 94px;
    gap: 8px;
    justify-content: center;
    padding: 20px;
}


@media screen and (min-width: $desktop) {
.portfolio__nav-list--buttons {
    display: flex;
    cursor: pointer;
    // margin-top: 94px;
    gap: 8px;
    justify-content: center;
    padding: 20px;
}}


.products__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0px;
    margin: 0px;
    padding-bottom: 94px;
    gap: 30px;
    
    flex-basis: calc((100% - 60px) / 3);
}

.product__cards{
    &:hover,
    &:focus{box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        transition-duration: 250ms;
        transition-timing-function: $cubic;}
}


.product__hover {
    display: block;
    text-decoration: none;
}

.product__container {
    position: relative;
    width: 100%;

    &:hover .overlay{height: 100%;}
}



.area__description--header {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.89;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;

    color: $black;
}

.area__description--sign {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    text-align: left;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-bottom: 20px;
    color: $gray;
}